body {
  text-align: center;
  font-size: 6rem;
}

.count {
  font-weight: bold;
  color: #888;
  margin: 0;
}

.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

.typed {
  color: lightgreen;
}

.mistyped {
  background-color: red;
}